@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #e2e2e2;
}

.container {
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
    padding: 60px;
    border: 1px solid #aaa;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    background: #f0f0f0;
}

.container .url-input {
    padding: 18px 69px;
    border-radius: 36px;
    border: 1px solid #333;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 28px; 
    font-size: 24px;
}

.container .url-submit {
    padding: 8px 32px;
    border-radius: 28px;
    border: 1px solid #333;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    font-size: 24px;
}

.container .url-submit:hover {
    background-color: #cbcbfb;
    cursor: pointer;
}

.container .url-submit:active {
    background-color: #9f9ff9;
    cursor: pointer;
}